*    {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Georgia", serif;
}

#page-wrap {
  margin: 2% auto;
  color: white;
}

/*
*Solo los elementos de clase main hijos directos del elemento con identificador "page-wrap"
*/

#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1 px;
  color: black;
}

section > div {
  padding: 20px;
}

header, nav, section, footer {
  background: #eee;
  text-align: center;
}
/*
*Cualquier span que descienda de cualquier nav. Incluye nietos, biznietos, etc.
*/
nav span {
  margin: 0px 10px 0px 0px;
}
